# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================

venv/
.env

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Build
# ==========================

build/
dist/

# ==========================
# Python Cache
# ==========================

.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Session Outputs
# ==========================

data/processed/

# ==========================
# Temporary Files
# ==========================

*.tmp
*.temp

# ==========================
# Ignore YOLO pretrained weights
# ==========================

yolov8*.pt

# ==========================
# Do NOT Ignore
# ==========================

!weights/
!weights/pose_mlp.pth